* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    margin: 0;
}
nav {
    padding: 15px;
    background-color: #1F2937;
}
nav  {
    padding: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 10rem;
}
nav  a {
    text-decoration: none;
    color: #E5E7Eb;
}

.section1 {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    background-color: #1F2937;
}
.section1 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 50%;
}

.section1 p {
    color: #F9FAF8;
    width: 50%;
}
.section1 button {
    display: flex;
    border-radius: 80;
    padding: 13px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    cursor: pointer;
}
.sect1-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}
.img {
    display: flex;
    justify-content: flex-end;
    padding-left: 15rem;
}
.section1 img {
    width: 35rem;
    height: 25rem;
}
.section2{
    padding: 5rem;
    background-color: #fff;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 3rem;
    
}
.cardImg {
    height: 10rem;
    width: 160px;
    border-radius: 15px;
    border: 3px solid #3882f6;
}
.section2 h1 {
    text-align: center;
    font-size: 3rem;
}

.section3 {
    padding: 5rem;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    width: 65%;
    display: flex;
    justify-content: center;
}
.author {
    display: flex;
    align-items: flex-end;
}
